body {
    background-color: white;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background: linear-gradient(165deg, #0891b2 64%, white 46%);
}
h1 {
    font-size: 2rem;
}
.main-pic {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
    /* background-image: url("https://images.unsplash.com/photo-1493119508027-2b584f234d6c?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    background-size: contain;
    background-repeat: no-repeat;
}
img {
    width: 100%;
}
.main-pic > h1 {
    margin: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    text-align: center;
    padding: 5px 0px;
}
.description {
    background-color: white;
    padding: 1% 2%;
    width: 50%;
    box-shadow: 1px 1px 5px grey;
    display: flex;
    flex-direction: column;
}
.description > p {
    text-align: justify;
    width: 95%;
}
.links {
    display: flex;
    justify-content: end;
    margin-right: 4%;
}
i {
    font-size: 2rem;
}
section {
    margin: 10% 8%;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}
.project-card {
    display: flex;
    flex-wrap: wrap;
    height: 30%;
    width: 30%;
}
.project-card > a > img {
    height: 100%;
    box-shadow: 1px 1px 3px grey;
}
.project-info {
    height: 10%;
    width: 89.7%;
    box-shadow: 1px 1px 3px grey;
    text-align: justify;
    padding: 2% 5%;
}
.project-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.project-card:hover {
    transform: scale(1.05);
    animation: color 0.2s ease-in forwards;
}
@keyframes color {
    0% {
        border: 0px solid grey;
        background-color: white;
    }
    100% {
        border: 1px solid lightgrey;
        background-color:  lightblue;
    }
}
.project-info > a:visited {
    color: black;
    text-decoration: none;
}
.project-info > a:link {
    color: black;
    text-decoration: none;
}
.project-info > a:hover {
    color: blue;
}
footer {
    background-color: #0891b2 ;
    padding: 2% 8%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
svg {
    height: 30px;
    width: 30px;
}
.footer-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}
footer > p {
    font-size: 1.2rem;
}
.email {
    display: flex;
    align-items: center;
    gap: 10px;
}

